.header {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #374F7D;
    height: 3em;
    padding-left: 10px;
    color: white;
    font-size: x-large;
}